@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway', sans-serif;
}

header{
  background-color: #1e80c7;
  color: #FFFFFF;
}

header span#appname{
  letter-spacing: -4px;
}

header a{
  text-decoration: none;
  color:inherit;
  line-height: 28px;
}

header a:hover{
  color:inherit;
}

header div span#appname{
  font-size: 60px;
  font-weight: bold;
}
header div span#appname  span#nickname{
  font-size: 40px;
  font-weight: bold;
  margin-left: 77px;
  color:#83d1f7;
  letter-spacing: -2px;
}
header div span#appversion{
  font-size: 18px;
  font-weight: bold;
}
aside ul{
  padding-left: 17px;
}

#loading {
    position: fixed;
    left:0px;
    bottom: 0;
    width: 100%;
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    background-color: #1e80c7;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}
tr th{
  background-color: #1e80c7;
  color: #FFFFFF;
  text-align: center;
}
h3.headerstats span{
  font-size: 14px;
  color:#999797;
  text-align: right;
}

.headerstats{
  color: #1e80c7;
}
.teamname{
  background-color: #4f4f4f;
  color:#FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.teamname span#pending{
  font-size: 20px;
}
.teampoints{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.playername{
  text-align: left;
}
.atgpoints{
  color: #16ab32;
  font-weight: bold;
}
div#footer{
  font-size: 15px;
  font-weight: bold;
  color:#FFFFFF;
  background-color: #bbc3c3;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
