<div id="loading" ng-show="$ctrl.loading">cargando ...</div>
<aside class="col-sx-12 col-sm-4 col-md-2">
  <h4>Otras jornadas</h4>
  <ul>
    <li ng-click="$ctrl.changeWeek(2)"><a href="#">Jornada 2</a></li>
    <li ng-click="$ctrl.changeWeek(3)"><a href="#">Jornada 3</a></li>
    <li ng-click="$ctrl.changeWeek(4)"><a href="#">Jornada 4</a></li>
    <li ng-click="$ctrl.changeWeek(5)"><a href="#">Jornada 5</a></li>
    <li ng-click="$ctrl.changeWeek(6)"><a href="#">Jornada 6</a></li>
    <li ng-click="$ctrl.changeWeek(7)"><a href="#">Jornada 7</a></li>
    <li ng-click="$ctrl.changeWeek(8)"><a href="#">Jornada 8</a></li>
    <li ng-click="$ctrl.changeWeek(9)"><a href="#">Jornada 9</a></li>
    <li ng-click="$ctrl.changeWeek(10)"><a href="#">Jornada 10</a></li>
    <li ng-click="$ctrl.changeWeek(11)"><a href="#">Jornada 11</a></li>
    <li ng-click="$ctrl.changeWeek(12)"><a href="#">Jornada 12</a></li>
    <li ng-click="$ctrl.changeWeek(13)"><a href="#">Jornada 13</a></li>
    <li ng-click="$ctrl.changeWeek(14)"><a href="#">Jornada 14</a></li>
    <li ng-click="$ctrl.changeWeek(15)"><a href="#">Jornada 15</a></li>
    <li ng-click="$ctrl.changeWeek(16)"><a href="#">Jornada 16</a></li>
    <li ng-click="$ctrl.changeWeek(17)"><a href="#">Jornada 17</a></li>
    <li ng-click="$ctrl.changeWeek(18)"><a href="#">Jornada 18</a></li>
    <li ng-click="$ctrl.changeWeek(19)"><a href="#">Jornada 19</a></li>
    <li ng-click="$ctrl.changeWeek(20)"><a href="#">Jornada 20</a></li>
    <li ng-click="$ctrl.changeWeek(21)"><a href="#">Jornada 21</a></li>
    <li ng-click="$ctrl.changeWeek(22)"><a href="#">Jornada 22</a></li>
    <li ng-click="$ctrl.changeWeek(23)"><a href="#">Jornada 23</a></li>
    <li ng-click="$ctrl.changeWeek(24)"><a href="#">Jornada 24</a></li>
    <li ng-click="$ctrl.changeWeek(25)"><a href="#">Jornada 25</a></li>
    <li ng-click="$ctrl.changeWeek(26)"><a href="#">Jornada 26</a></li>
    <li ng-click="$ctrl.changeWeek(27)"><a href="#">Jornada 27</a></li>
    <li ng-click="$ctrl.changeWeek(28)"><a href="#">Jornada 28</a></li>
    <li ng-click="$ctrl.changeWeek(29)"><a href="#">Jornada 29</a></li>
    <li ng-click="$ctrl.changeWeek(30)"><a href="#">Jornada 30</a></li>
    <li ng-click="$ctrl.changeWeek(31)"><a href="#">Jornada 31</a></li>
    <li ng-click="$ctrl.changeWeek(32)"><a href="#">Jornada 32</a></li>
    <li ng-click="$ctrl.changeWeek(33)"><a href="#">Jornada 33</a></li>
    <li ng-click="$ctrl.changeWeek(34)"><a href="#">Jornada 34</a></li>
    <li ng-click="$ctrl.changeWeek(35)"><a href="#">Jornada 35</a></li>
    <li ng-click="$ctrl.changeWeek(36)"><a href="#">Jornada 36</a></li>
    <li ng-click="$ctrl.changeWeek(37)"><a href="#">Jornada 37</a></li>
    <li ng-click="$ctrl.changeWeek(38)"><a href="#">Jornada 38</a></li>
  </ul>
</aside>
