<div class="well-lg">
  <article class="col-sx-12 col-sm-8 col-md-10">
    <h3 class="headerstats">
      Resultados provisionales jornada {{ $ctrl.matchDay }} <br /><span
        >(última actualización: {{ $ctrl.last }})</span
      >
    </h3>
    <table
      ng-repeat="item in $ctrl.stats"
      ng-if="item.equipo"
      class="table table-striped table-bordered table-condensed table-responsive text-center"
    >
      <tr>
        <th colspan="12" class="teamname">
          {{ item.equipo }}: {{ item.puntos }} puntos
          <!--<span id="pending">(+{{11-item.done}} jugadores)</span>-->
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>jugador</th>
        <th>ptos marca</th>
        <th>ptos partido</th>
        <th>ptos antiliga</th>
        <th>minutos</th>
        <th>goles</th>
        <th>goles rec</th>
        <th>goles pp</th>
        <th>penal fall</th>
        <th>penal par</th>
        <th>roja</th>
      </tr>
      <tr ng-repeat="player in item.players" ng-if="player.nombre">
        <td>{{ player.count }}</td>
        <td class="playername">{{ player.nombre }}</td>
        <td>{{ player.marca_points }}</td>
        <td>{{ player.atg_match_points }}</td>
        <td class="atgpoints">{{ player.atg_points }}</td>
        <td>{{ player.mins_played }}</td>
        <td>{{ player.goals }}</td>
        <td>{{ player.goals_conceded }}</td>
        <td>{{ player.own_goals }}</td>
        <td>{{ player.penalty_failed }}</td>
        <td>{{ player.penalty_save }}</td>
        <td>{{ player.red_card }}</td>
      </tr>
    </table>
  </article>
  <ac-sidebar stats="$ctrl.stats"></ac-sidebar>
</div>
