<header col-sx-12 col-sm-12 col-md-12>
  <div class="container-fluid">
    <a href="https://s-media-cache-ak0.pinimg.com/736x/91/c7/d7/91c7d77d560d47f16185c694847cb7d9.jpg" target="_blank">
      <span id="appname"><span id="nickname">el viejo</span><br/>stumpy</span></a> <span id="appversion">v0.3</span>
  </div>
</header>
